<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <nav class="navbar navbar-light navbar-expand" style="background-color: rgba(147, 147, 147, 0.72);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div class="navbar-nav" >
                   <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Log In</a>
                    <a class="nav-link" href="/register">Sign Up</a>
                   <% } else { %>
                    <a class="nav-item nav-link" href="#"> Welcome <%= currentUser.username %> </a>
                    <a class="nav-item nav-link" href="/logout">Sign Out</a>
                   <% } %>
            </div>
        </div>
    </nav>
<div class="container">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>
        
   